@import url('https://fonts.cdnfonts.com/css/depixel');
@font-face {
  font-family: 'Chicago';
  src: url('/fonts/Chicago.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DOSIyagiMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0;
}

:root {
  @apply w-screen bg-yellow-200 dark:bg-blue-950;
  background-image: radial-gradient(circle, #000000 0.5px, transparent 0.5px);
  background-size: 3px 3px;
}

.bg-pattern {
  background-image: radial-gradient(circle, #000000 1.3px, transparent 1.3px);
  background-size: 3px 3px;
}
